{% extends 'base.html.twig' %}

{% block title %}
{% trans %}Louvre Museum, ticket office{% endtrans %}
{% endblock %}

{% block body %}


    {{ form_start(form) }}
    <div class="row bg-white">
        <div class="col-sm nopadding">
            <div class="card p-2 pl-3">{{ form_row(form.date_visit) }}</div>
        </div>
        <div class="col-sm nopadding">
            <div class="card p-2 pl-3">{{ form_row(form.nbr_tickets) }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm nopadding">
            <div class="card p-2 pl-3">{{ form_row(form.duration) }}</div>
        </div>
        <div class="col-sm nopadding">
            <div class="card p-2 pl-3">{{ form_row(form.mail) }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card pl-4">
                {{ form_row(form.valider, { 'label': 'Validate' }) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}


{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.en-GB.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.fr.min.js" charset="UTF-8"></script>

    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                startDate: '0d',
                language: '{% trans %}en-GB{% endtrans %}',
                daysOfWeekDisabled: [2,0],
                beforeShowDay: function (date) {
                    var curr_date = date.getDate();
                    var curr_month = date.getMonth() + 1;
                    var formattedDate = curr_date + "/" + curr_month
                    if (formattedDate == '1/5' || formattedDate == '1/11' || formattedDate == '25/12') {
                        return {classes: 'disabled disabled-date'};
                    }
                    return;
                }
            });
        });
    </script>
{% endblock %}

{% block stylesheets  %}
    <link id="bsdp-css" href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
{% endblock %}

{% block sectionTitle %}
{% trans %}Your order{% endtrans %}
{% endblock %}