{% extends 'base.html.twig' %}

{% block title 'Musée du Louvre, billetterie' %}

{% block body %}

    <div class="row header pt-3 justify-content-center justify-content-md-start">

        <div class="col-ld-2 center mt-2">
            <img src="https://www.ticketlouvre.fr/louvre/b2c/assets/img/logo_Louvre.png" />
        </div>
        <div class="col-ld-9 pl-4">
            <h1 class="my-3 h2 font-weight-light">Billetterie officielle du musée du Louvre</h1>
        </div>
        <!-- /.col-lg-3 -->
    </div>

    <div class="row">
        <div class="col red">
            <div class="card">
                &nbsp;
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col ban">
            <div class="card">
                <h2>Bienvenue sur le site officiel de vente en ligne du Louvre</h2>
                <p>En période de forte affluence, la réservation en ligne de votre créneau horaire, qui seul peut garantir votre entrée au musée, est fortement recommandée.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col gray">
            <div class="card">
                Choisissez vos billets :
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card pb-4">
                <img class="img-fluid" src="https://cdn-imgix.headout.com/tour/5980/TOUR-IMAGE/1dd96726-9311-41f5-ac66-c729a8761275-3909-paris-louvre-museum-priority-access-with-flexible-entry-time-01.jpg?auto=compress&fm=pjpg&w=900&h=400&crop=faces&fit=min" alt="Musée du louvre">
            </div>
        </div>
    </div>

    {{ form_start(form) }}
    <div class="row bg-white">
        <div class="col-sm nopadding">
            <div class="card p-2 pl-3">{{ form_row(form.date_visit) }}</div>
        </div>
        <div class="col-sm nopadding">
            <div class="card p-2 pl-3">{{ form_row(form.nbr_tickets) }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm nopadding">
            <div class="card p-2 pl-3">{{ form_row(form.duration) }}</div>
        </div>
        <div class="col-sm nopadding">
            <div class="card p-2 pl-3">{{ form_row(form.mail) }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card pl-4">
                {{ form_row(form.valider, { 'label': 'Valider' }) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}


    <div class="row">
        <div class="col footer">
            <div class="card">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://www.ticketlouvre.fr/louvre/b2c/index.cfm/CGV">Conditions générales</a></li>
                    <li class="list-inline-item"><a href="https://www.ticketlouvre.fr/louvre/b2c/assets/CGV-B2C-Prod/EN_CGV_EPML_GROUPES.pdf">Conditions générales pour les groupes</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row copyright">
        <div class="col mt-1">
            <p class="text-center">© Musée du Louvre - All rights reserved</p>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.ar.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.az.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.bg.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.bs.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.ca.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.cs.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.cy.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.da.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.de.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.el.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.en-GB.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.es.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.et.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.eu.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.fa.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.fi.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.fo.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.fr.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.fr-CH.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.gl.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.he.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.hr.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.hu.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.hy.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.id.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.is.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.it.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.it-CH.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.ja.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.ka.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.km.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.kk.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.ko.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.lt.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.lv.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.mk.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.ms.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.nl.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.nl-BE.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.no.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.pl.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.pt-BR.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.pt.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.ro.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.sr.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.sr-latin.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.ru.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.sk.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.sl.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.sq.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.sr.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.sr-latin.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.sv.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.sw.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.th.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.tr.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.uk.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.vi.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.zh-CN.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.zh-TW.min.js" charset="UTF-8"></script>

    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                startDate: '0d',
                language: 'fr-FR',
                datesDisabled: ['xxxx-05-01', 'xxxx-11-01', 'xxxx-12-25'],
                daysOfWeekDisabled: [0]
            });
        });
    </script>
{% endblock %}

{% block stylesheets  %}
    <link id="bsdp-css" href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
{% endblock %}