{% extends 'base.html.twig' %}

{% block title %}
{% trans %}
Louvre Museum, Summary
{% endtrans %}
{% endblock %}

{% block body %}

    <div class="row bg-white">
        <h3 class="col-sm">{% trans %}Summary{% endtrans %}</h3>
    </div>
    <div class="row bg-white">
        <div class="col-sm nopadding">
            <div class="card p-2 pl-3 ticket">
            <h5>{% trans %}Information of the visit{% endtrans %}</h5>
                {% trans %}Day of your visit{% endtrans %}: {{ commands.getDateVisit|date("d/m/Y") }}<br />
                {% trans %}Duration of the visit{% endtrans %}:
                {% if commands.getDuration == true %}
                    {% trans %}Day{% endtrans %}
                {% else %}
                    {% trans %}Half day{% endtrans %}
                {% endif %}
            </div>
        </div>
    </div>
<div class="row bg-white">
    <div class="col-sm nopadding">
        <div class="card p-2 pl-3 ticket table-responsive">
            <table class="table">
            <thead>
                <tr>
                    <th>{% trans %}Last name{% endtrans %}</th>
                    <th>{% trans %}First name{% endtrans %}</th>
                    <th>{% trans %}Reduced price{% endtrans %}</th>
                    <th>{% trans %}Ticket cost{% endtrans %}</th>
                </tr>
            </thead>
             {% for ticket in tickets %}
           <tr>
                <td>{{ ticket.getLastName }}</td>
                <td>{{ ticket.getFirstName }}</td>
                <td>
                {% if ticket.getDiscount == true %}
                    {% trans %}Yes{% endtrans %}
                {% else %}
                    {% trans %}No{% endtrans %}
                {% endif %}
                </td>
               <td>{{ ticket.getPrice }} €</td>
           </tr>
             {% endfor %}
            </table>
        </div>
    </div>
</div>


<div class="row bg-white">
    <div class="col-sm nopadding">
        <div class="card p-2 pl-3 ticket">
            <form action="{{ path('striperedirect', {'order_number': commands.getOrderNumber()}) }}" method="post">
                <h5>{% trans %}Total order{% endtrans %}</h5>
                {% trans %}Total without taxes{% endtrans %}: {{ pricewt }} €<br />
                {% trans %}Taxes{% endtrans %}: {{ taxes }} € <br />
                {% trans %}Total all taxes included{% endtrans %}: {{ priceati }} €
                <p><button class="ui button" type="submit">{% trans %}Pay the order{% endtrans %}</button></p>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets  %}
{% endblock %}

{% block sectionTitle %}
{% trans %}
Summary before regulation
{% endtrans %}
{% endblock %}